.form{
  position: relative;
  background: -webkit-linear-gradient(90deg, rgb(0, 0, 151), rgb(204, 0, 106));
  background: -moz-linear-gradient(90deg, rgb(0, 0, 151), rgb(204, 0, 106));
  background: linear-gradient(90deg, rgb(0, 0, 151), rgb(204, 0, 106));
}
.form::after{
  content:'';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 100%;
  background: $mainBlue;
}
.form-box{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.form-left{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  &__title{
    text-transform: uppercase;
    color:$white;
    font-size: 45px;
    text-align: left;
    line-height: 50px;
    font-weight: 700;
    font-family: $baseFontFamily;
    padding: 10px 20px 10px 0px;
  }
  &__text{
    padding: 5px 5px 5px 0px;
    color: $white;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 300;
    font-family: $robotoFontFamily;
  }
}

.form-right{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  &__btn{
    margin: 0 auto;
    display: block;
    max-width: 850px;
    width: 100%;
    padding: 15px 15px;
    background: #00B2FF;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    // text-decoration: none;
    text-transform: uppercase;
  }
}
.form-right__inputs{
  width:100%;
  // padding: 15px;
  // background: rgba(255, 255, 255, 0.3);
  // border-radius: 10px;
  // margin-bottom: 10px;
  // color: $white;
  // font-weight: 500;
  // font-size: 18px;
}

.form-right input::placeholder{
  color: $white;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  font-weight: 500;
  font-family: $robotoFontFamily;
}
.form-right input{
  color: $white;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.3);
}

.form-right input:focus{
  color: $white;
  font-weight: 500;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.3);
}
input{
  width:94%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  color: $white;
  font-weight: 500;
  font-size: 18px;
}

input.error{
  border: 1px solid red;
}

