/*
@font-face  {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('#{$fontsPath}slick.eot');
    src: url('.#{$fontsPath}slick.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}slick.woff') format('woff'),
        url('#{$fontsPath}slick.ttf') format('truetype'),
        url('#{$fontsPath}#slick') format('svg');
}
*/

html {
  font-size: $baseFontSize;
}

body {
  font-family: $baseFontFamily;
  // background: red;

}

h1 {
  font-weight: $mediumFontWeight;
}
p {
  margin: 0;
}
.wrapper-fluid{
  max-width: 1440px;
  width: 100%;
  padding: 12px;
  margin: 0 auto;
  box-sizing:border-box;
}
.wrapper{
  // max-width: 1440px;
  // width: 100%;
  padding: 12px;
  margin: 0 auto;
  box-sizing:border-box;
}
.background-img{
  background: url(../../../i/bg__top.jpg) no-repeat;
  background-size: cover;
}