.services-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.services-item{
  padding: 10px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: $white;
  padding: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  max-width: 140px;
    &__par{
     display: block;
     text-align: center;
     padding: 5px;
     font-size: 15px;
     text-transform: uppercase;
     font-weight: 700;
    }
    &__box{
      max-width: 200px;
      // width: 100%;
      max-height: 150px;
      // height: 100%;
      margin: 0 auto;
    }
    &__img{
      width:100%;
    }
}

.services-item:hover{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $mainBlue;
  margin: 0 auto;
}
.services{
  // padding-top: 50px;
  margin-bottom: 70px;
}
